# Object Oriented Programming

## S3

### Conventions

#### Constructors

There are 3 rules when writing your S3 constructors:

1. Be called `new_class_name()`.
2. Have one argument for the base object, and one for each attribute, and possibly more if the class can be subclassed.
3. Check the types of the base object and each attribute.

In [2]:
new_Date <- function(x) {
    stopifnot(is.double(x))
    structure(x, class = "Date")
}

Now, let's create a few dates with the new constructor. The dates start from Jan. 1st, 1970, so we can create a few dates either going backwards a day at a time by passing in negative integer values, or forward with positive ones.

In [20]:
new_Date(c(
    -7130,  # North Korea invades the South starting the Korean War
    898,    # Start of the Watergate Scandal
    6271    # Reagan admits to the Iran-Contra Affair
))

[1] "1950-06-25" "1972-06-17" "1987-03-04"

Notice that the function can take either a single value or a vector. This is because, as we saw earlier, everything is a vector in R. So, most of the time you don't need to apply a function to the items in a vector since most of R is aleady "vectorized".